@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
      font-family: 'Sagoe';
      src: url('/fonts/Sagoe.woff2') format('woff2');
      font-weight: 400;
      font-display: swap;
      font-style: normal;
    }

    @font-face {
        font-family: 'SagoeBold';
        src: url('/fonts/SagoeBold.woff2') format('woff2');
        font-display: swap;
        font-style: normal;
      }

    @font-face {
        font-family: 'Teko';
        src: url('/fonts/Teko.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
      }
}

.stepButton0{
    @apply bg-white w-[300px] font-SagoeBold py-3 px-5 hover:bg-yellow-400 font-bold lg:text-2xl rounded-xl text-[#f8ba4d] hover:text-white mt-3
}
.stepButton1{
    @apply w-[300px] py-3 px-5 font-SagoeBold font-bold lg:text-xl rounded-xl  mt-3 bg-white hover:bg-yellow-400 text-[#235c94] hover:text-white
}

.stepButton1Active{
    @apply w-[300px] py-3 px-5 font-SagoeBold font-bold lg:text-xl rounded-xl  mt-3 bg-yellow-400 text-white
}

.stepButton2{
    @apply  py-3 px-5 font-bold font-SagoeBold text-xl rounded-xl  mt-3 hover:bg-yellow-400 text-[#235c94] hover:text-white bg-white
}

.stepButton2Active{
    @apply  py-3 px-5 font-bold text-xl font-SagoeBold rounded-xl  mt-3 bg-yellow-400 text-white 
}

.stepField{
    @apply outline-none border bg-transparent rounded-xl text-white placeholder-gray-300 border-gray-400 py-4 px-10  mt-5 focus:border-white
}